.homepage {
    text-align: center;
    font-family: 'Cursive', sans-serif;
    font-size: 5px;
}

.welcome-message, .recommendation-message {
    color: #333;
    margin: 20px;
}

.navbar {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.navbar ul {
    padding: 0;
}

.navbar li {
    display: inline;
    margin: 0 10px;
}

.navbar a {
    text-decoration: none;
    color: #555;
    font-size: 16px;
}

@media (max-width: 600px) {
    .navbar li {
        display: block;
        margin: 10px 0;
    }
}

.book-table {
    width: 100%;
    text-align: center;
}

.book-table table {
    margin: 0 auto;
    border-collapse: collapse;
}

.book-table th, .book-table td {
    border: 1px solid black;
    padding: 8px;
}

.book-table th {
    background-color: #f2f2f2;
}

/* An elegant and widely supported font */
.book-table {
    font-family: 'Arial', sans-serif;
}

